@model dulichaspnet.ViewModels.DangnhapViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#f02b2b" />
    <link rel="canonical" href="template-travelgo_mysapo_default.html" />
    <meta name='revisit-after' content='2 days' />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description"
          content="Template website Travelgo rất thích hợp với các website du lịch, dự án khu nghỉ dưỡng, dịch vụ, giới thiệu công ty, nhà hàng, quán ăn, dịch vụ làm đẹp, du học">
    <title>Theme Travelgo dành cho website du lịch, dự án khu nghỉ dưỡng, dịch vụ </title>
    <meta name="keywords"
          content="Travelgo, du lịch, dự án khu nghỉ dưỡng, khách sạn, nhà hàng, giới thiệu công ty, nhà hàng, quán ăn, dịch vụ làm đẹp, spa, du học, du lich, du an khu nghi duong, nha hang, gioi thieu cong ty, khach san" />


    <meta property="og:type" content="website">
    <meta property="og:title" content="Theme Travelgo dành cho website du lịch, dự án khu nghỉ dưỡng, dịch vụ">
    <meta property="og:image"
          content="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/logo.png?1676255871974">
    <meta property="og:image:secure_url"
          content="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/logo.png?1676255871974">

    <meta property="og:description"
          content="Template website Travelgo rất thích hợp với các website du lịch, dự án khu nghỉ dưỡng, dịch vụ, giới thiệu công ty, nhà hàng, quán ăn, dịch vụ làm đẹp, du học">
    <meta property="og:url" content="https://template-travelgo.mysapo.net/">
    <meta property="og:site_name" content="TravelGo">
    <link rel="icon" href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/favicon.png?1676255871974"
          type="image/x-icon" />

    <link rel="preload" as='style' type="text/css"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/header.scss.css?1676255871974">
    <link rel="preload" as='style' type="text/css"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/index.scss.css?1676255871974">
    <link rel="preload" as='style' type="text/css"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/quickviews.scss.css?1676255871974">
    <link rel="preload" as='style' type="text/css"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/responsive.scss.css?1676255871974">
    <link rel="preload" as='style' type="text/css"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/main.scss.css?1676255871974">
    <link rel="preload" as="style"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/bootstrap.css?1676255871974" type="text/css">
    <link rel="preload" as='style'
          href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap">

    <!--------------------------------------------------------------------------------------------------->
    <link href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/header.scss.css?1676255871974"
          rel="stylesheet" type="text/css" media="all" />
    <link href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/bootstrap.css?1676255871974" rel="stylesheet"
          type="text/css" media="all" />
    <link href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/index.scss.css?1676255871974"
          rel="stylesheet" type="text/css" media="all" />


    <link href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/responsive.scss.css?1676255871974"
          rel="stylesheet" type="text/css" media="all" />

    <link href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/main.scss.css?1676255871974" rel="stylesheet"
          type="text/css" media="all" />
    <link rel="preload" as="script"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/jquery.js?1676255871974" />
    <script src="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/jquery.js?1676255871974"
            type="text/javascript"></script>
    <style>
        .main-nav {
            background-color: #072326;
        }
    </style>
    <!-- Bizweb javascript customer -->

</head>
<body>
    <link rel="preload" as="image" href="https://template-travelgo.mysapo.net/img/slider_1.jpg?1676255871974"
          media="screen and (max-width: 480px)">
    <link rel="preload" as="image" href="https://template-travelgo.mysapo.net/img/slider_1.jpg?1676255871974"
          media="screen and (min-width: 481px)">
    <link rel="preload" as="script"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/swiper.min.js?1676255871974" />
    <script src="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/swiper.min.js?1676255871974"
            type="text/javascript"></script>
    <div class="opacity_menu"></div>
    <div class="main-nav">
        <div class="container nav-head">
            <div class="row relatives">
                <div class="col-lg-2 col-12">
                    <div class="menu-bar button-menu">
                        <a href="javascript:;">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="align-justify" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                 class="svg-inline--fa fa-align-justify fa-w-14">
                                <path fill="currentColor"
                                      d="M432 416H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-128H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-128H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-128H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                                      class=""></path>
                            </svg>
                        </a>
                    </div>
                    <div class="logo a-center">

                        <a href="template-travelgo_mysapo_default.html" class="logo-wrapper ">

                            <picture>
                                <source media="(max-width: 991px)"
                                        srcset="//bizweb.dktcdn.net/100/319/254/themes/894747/assets/logo_footer.png?1676255871974">
                                <img src="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/logo.png?1676255871974"
                                     alt="logo ">
                            </picture>

                        </a>

                    </div>
                    <div class="header_search search_mobile">
                        <div class="icon-search-mobile ">
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                            </svg>
                        </div>
                        <form action="search.htm" method="get" class="input-group search-bar" role="search">
                            <input type="hidden" name="type" value="product">
                            <input type="text" name="query" value="" autocomplete="off" placeholder="Tìm kiếm sản phẩm..."
                                   class="input-group-field auto-search" required="">
                            <span class="input-group-btn">
                                <button type="submit" class="btn icon-fallback-text">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                                         role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                         class="svg-inline--fa fa-search fa-w-16">
                                        <path fill="currentColor"
                                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                                              class=""></path>
                                    </svg>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-12 header-menu">
                    <nav class="menu_mobile nav-main">
                        <div class="menu_hed head_1">
                            <ul class="item_big nav_1">


                                <li class=" nav-item nav-items index  ">


                                    <a class="nav-link" href="ve-chung-toi.htm">
                                        Về chúng tôi
                                    </a>

                                </li>


                                <li class="menu_hover level0 nav-item nav-item index   has-mega ">


                                    <a href="tour-trong-nuoc.htm" class="nav-link">
                                        Tour trong nước
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                             class="svg-inline--fa fa-angle-right fa-w-8 icon_pc">
                                            <path fill="currentColor"
                                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                                  class=""></path>
                                        </svg>
                                    </a>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                         role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                         class="svg-inline--fa fa-angle-down fa-w-10 icon icon-plus icon_mobile">
                                        <path fill="currentColor"
                                              d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"
                                              class=""></path>
                                    </svg>

                                    <div class="mega-content">
                                        <div class="level0-wrapper2">
                                            <div class="nav-block nav-block-center">
                                                <ul class="level0">


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-mien-bac.htm"
                                                               title="Du lịch miền Bắc"><span>Du lịch miền Bắc</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-sapa.htm"
                                                               title="Du lịch Sapa"><span>Du lịch Sapa</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-ha-giang.htm"
                                                               title="Du lịch Hà Giang"><span>Du lịch Hà Giang</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-ha-long.htm"
                                                               title="Du lịch Hạ Long"><span>Du lịch Hạ Long</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-moc-chau.htm"
                                                               title="Du lịch Mộc Châu"><span>Du lịch Mộc Châu</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-mien-trung.htm"
                                                               title="Du lịch Miền Trung"><span>Du lịch Miền Trung</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-nha-trang.htm"
                                                               title="Du lịch Nha Trang"><span>Du lịch Nha Trang</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-da-nang.htm"
                                                               title="Du lịch Đà Nẵng"><span>Du lịch Đà Nẵng</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-mien-nam.htm"
                                                               title="Du lịch Miền Nam"><span>Du lịch Miền Nam</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-mien-tay.htm"
                                                               title="Du lịch Miền Tây"><span>Du lịch Miền Tây</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-phu-quoc.htm"
                                                               title="Du lịch Phú Quốc"><span>Du lịch Phú Quốc</span></a>
                                                        </h2>


                                                    <li class="level1 item">
                                                        <h2 class="h4">
                                                            <a href="du-lich-con-dao.htm"
                                                               title="Du lịch Côn Đảo"><span>Du lịch Côn Đảo</span></a>
                                                        </h2>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </li>


                                <li class="menu_hover level0 nav-item index ">
                                    <a href="tour-nuoc-ngoai.htm" class="nav-link ">
                                        Tour nước ngoài
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                             class="svg-inline--fa fa-angle-right fa-w-8 icon_pc">
                                            <path fill="currentColor"
                                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                                  class=""></path>
                                        </svg>
                                    </a>
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down"
                                         role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                         class="svg-inline--fa fa-angle-down fa-w-10 icon icon-plus icon_mobile">
                                        <path fill="currentColor"
                                              d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"
                                              class=""></path>
                                    </svg>
                                    <ul class="item_small level0">


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-chau-a.htm">Du lịch Châu Á</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-thai-lan.htm">Du lịch Thái Lan</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-trung-quoc.htm">Du lịch Trung Quốc</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-han-quoc.htm">Du lịch Hàn Quốc</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-nhat-ban.htm">Du lịch Nhật Bản</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-singapore.htm">Du lịch Singapore</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-dubai.htm">Du lịch Dubai</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-chau-au.htm">Du lịch Châu Âu</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-phap.htm">Du lịch Pháp</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-anh.htm">Du lịch Anh</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-my.htm">Du lịch Mỹ</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-canada.htm">Du lịch Canada</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-chau-uc.htm">Du lịch Châu Úc</a>
                                        </li>


                                        <li class="level1 nav-item-lv2">
                                            <a class="nav-link" href="du-lich-chau-phi.htm">Du lịch Châu Phi</a>
                                        </li>


                                    </ul>
                                </li>


                                <li class=" nav-item nav-items index  ">


                                    <a class="nav-link" asp-controller="Account" asp-action="Register">Đăng ký</a>

                                </li>


                                <li class=" nav-item nav-items index  ">


                                    <a class="nav-link" href="/dang-nhap">
                                        Đăng nhập
                                    </a>

                                </li>


                            </ul>
                        </div>
                    </nav>

                </div>
                <div class="search_position">
                    <div class="wrap_search_menu index ">
                        <div class="icon-search">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                 class="svg-inline--fa fa-search fa-w-16">
                                <path fill="currentColor"
                                      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                                      class=""></path>
                            </svg>
                        </div>
                        <div class="search_inner">
                            <div class="search-box">
                                <div class="header_search search_form">
                                    <form class="input-group search-bar search_form" action="search.htm" method="get"
                                          role="search">
                                        <input type="search" name="query" value="" placeholder="Tìm kiếm"
                                               class="input-group-field st-default-search-input search-text"
                                               autocomplete="off">
                                        <span class="input-group-btn">
                                            <button class="btn icon-fallback-text">
                                                <span class="icon-search"></span>
                                            </button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="awe-section-9">
        <section class="section_register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-lg-2">
                        <div class="form_register">
                            <div id="pagelogin" class="form-contact">

                                <form method="post" action="/postcontact" id="contact" accept-charset="UTF-8">
                                    <input name="FormType" type="hidden" value="contact"><input name="utf8" type="hidden" value="true"><input type="hidden" id="Token-c41b153ad8984b76897207dccf6994d8" name="Token" value="03AFcWeA6Qz4o2xRt5YzjZz8Zu7kVOAEll450K_FUX_8OC7FEercmTlsrNIAO0uerpmVRaSUltzVyuJhhHBe-lk_bijDyaMW8YDNniKaXjb7MvuyiygGHpRS3L3uNvGa8d5UGGxCFbNEDRdc3FLgiUUoBh7Whrnz7l7IP6RHqlzEU8APlc2C6bcUZLQOBr5xce3DurauuDby0XHGDGCiQTkzpPn6CZ69KaKGve9cHCGdG1lgVdwr1mFwIQsvdflp_ysqTGGBIb-dWslFGl2BfuwL0Zi10K0V_Jf3VmH2kEv9W7fdMbEh4uZCvPgv726C24gS45wBYaaanfoBWuGhTM1b5QRQ2VNQiMNTdH6ZSCY-rwA97wpSWZFbvPjiGhhJZFyWB1q_xAmfoNfk2eXUAUDQAHe0sr5yrmxRalyEPb7dFNG5c95_xeUtK7Hq0TPhAOzHm4myAq_IVS5ZlkpxpjN0KU_A4ArJNvVDBjBtgQLknhGnAP-Ymjds-X8HuyU8Xb8SMN-_-Z0-c0Bbc8p-hjh79ym74waYogtDPaRqBtFiDly2RZ2C72sYNBbWDeclEihQeFpDibRyirmFwdGuZNu5MH0i5QmeKmuZjuqQpUMhoFC2EHZ9vEQ61ef8NduxmVHVF5R55DaAoc04b8bpR27T6HAY8xAzY0t5yDeSr1C0URBOwiSaxeKXmETgKb5Tz_yfL_yLzUiONKGqjiDPktsZ0XiFo-bzkY1cYTsn9byyxZ-bf5DLS_t-WDsDNqijibf4Qr8J34MgRe9CKm4NYP14gekt4HHUSE7yquDTdND_IZfqEwoSyEb7CUli2DzLUno6pfoytOfYUnbM5I8uQzuRuHq4DSdUSkDR8qgpKo2ociqmbwZKrtRuY"><script src="https://www.google.com/recaptcha/api.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script><script>grecaptcha.ready(function () { grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", { action: "contact" }).then(function (token) { document.getElementById("Token-c41b153ad8984b76897207dccf6994d8").value = token }); });</script>
                                    <div class="form-signup clearfix">
                                        <div class="row group_contact">
                                            <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="">Tên đăng nhập</p>
                                                <input placeholder="Họ và tên" type="text" class="form-control  form-control-lg" required="" value="" name="contact[Name]">
                                            </fieldset>
                                            <fieldset class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                                <p class="">Mật khẩu</p>
                                                <input placeholder="Mật khẩu" type="password" required="" id="password" class="form-control form-control-lg" value="" name="contact[email]">
                                            </fieldset>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-25 margin-bottom-40 a-center">
                                                <button type="submit" class="btn btn-primary btn-lienhe">Đăng nhập</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <footer class="footer">
        <div class="mid-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3 col-footer">
                        <div class="widget-ft clearfix">
                            <div class="block-logo">
                                <a href="template-travelgo_mysapo_default.html">
                                    <img class="lazyload"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                         data-src="//bizweb.dktcdn.net/100/319/254/themes/894747/assets/logo_footer.png?1676255871974"
                                         alt="logo TravelGo">
                                </a>
                            </div>

                            <div class="content-contact clearfix">
                                <div class="left-contact">
                                    <img class="lazyload"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                         data-src="//bizweb.dktcdn.net/100/319/254/themes/894747/assets/icon_footer_1.png?1676255871974"
                                         alt="icon" />
                                </div>
                                <div class="right-contact">

                                    Tầng 6 - Tòa nhà Ladeco - 266 Đội Cấn, Hà Nội,

                                </div>
                            </div>
                            <div class="content-contact clearfix">
                                <div class="left-contact">
                                    <img class="lazyload"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                         data-src="//bizweb.dktcdn.net/100/319/254/themes/894747/assets/icon_footer_2.png?1676255871974"
                                         alt="icon" />
                                </div>
                                <div class="right-contact">
                                    <a href="tel:19006750">
                                        1900 6750
                                    </a>
                                </div>
                            </div>
                            <div class="content-contact clearfix">
                                <div class="left-contact">
                                    <img class="lazyload"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                         data-src="//bizweb.dktcdn.net/100/319/254/themes/894747/assets/icon_footer_3.png?1676255871974"
                                         alt="icon">
                                </div>
                                <div class="right-contact">
                                    <a href="mailto:support@sapo.vn">support@sapo.vn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 col-footer">
                        <div class="widget-ft">
                            <h4 class="title-menu clicked">
                                <span>Dịch vụ của chúng tôi</span>
                            </h4>
                            <ul class="list-menu toggle-mn" style="display:none;">

                                <li class="li_menu">
                                    <a href="ve-chung-toi.htm">Về chúng tôi</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-trong-nuoc.htm">Tour trong nước</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-nuoc-ngoai.htm">Tour nước ngoài</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tin-tuc.htm">Tin tức</a>
                                </li>

                                <li class="li_menu">
                                    <a href="lien-he.htm">Liên hệ</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 col-footer">
                        <div class="widget-ft">
                            <h4 class="title-menu clicked">
                                <span>Về chúng tôi</span>
                            </h4>
                            <ul class="list-menu toggle-mn" style="display:none;">

                                <li class="li_menu">
                                    <a href="ve-chung-toi.htm">Về chúng tôi</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-trong-nuoc.htm">Tour trong nước</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-nuoc-ngoai.htm">Tour nước ngoài</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tin-tuc.htm">Tin tức</a>
                                </li>

                                <li class="li_menu">
                                    <a href="lien-he.htm">Liên hệ</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3 col-footer">
                        <div class="widget-ft">
                            <h4 class="title-menu clicked">
                                <span>Hỗ trợ khách hàng</span>
                            </h4>
                            <ul class="list-menu toggle-mn" style="display:none;">

                                <li class="li_menu">
                                    <a href="ve-chung-toi.htm">Về chúng tôi</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-trong-nuoc.htm">Tour trong nước</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tour-nuoc-ngoai.htm">Tour nước ngoài</a>
                                </li>

                                <li class="li_menu">
                                    <a href="tin-tuc.htm">Tin tức</a>
                                </li>

                                <li class="li_menu">
                                    <a href="lien-he.htm">Liên hệ</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-footer-bottom copyright clearfix">
            <div class="container">
                <div class="row tablet">
                    <div id="copyright" class="col-lg-6 col-md-12 col-xs-12 fot_copyright">
                        <span class="wsp">

                            <span class="mobile">
                                © Bản quyền thuộc về <b>Cafein  Team</b>
                                <span class="dash hidden-xs">|</span>
                            </span>

                            <span class="opacity1">Cung cấp bởi</span>

                            <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&utm_source=Tu_nhien&utm_medium=referral&utm_content=fm:text_link-km:-sz:&utm_term=&campaign=kho_theme-sapo"
                               rel="nofollow" title="Sapo" target="_blank">Sapo</a>

                        </span>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="flow">
                            <span>Theo dõi:</span>
                            <a href="template-travelgo_mysapo_default.html#" title="Theo dõi chúng tôi">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
                                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                     class="svg-inline--fa fa-facebook-f fa-w-10">
                                    <path fill="currentColor"
                                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                                          class=""></path>
                                </svg>
                            </a>
                            <a href="template-travelgo_mysapo_default.html#" title="Theo dõi chúng tôi">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g"
                                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                                     class="svg-inline--fa fa-google-plus-g fa-w-20">
                                    <path fill="currentColor"
                                          d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"
                                          class=""></path>
                                </svg>
                            </a>
                            <a href="template-travelgo_mysapo_default.html#" title="Theo dõi chúng tôi">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                                     class="svg-inline--fa fa-youtube fa-w-18">
                                    <path fill="currentColor"
                                          d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                                          class=""></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="template-travelgo_mysapo_default.html#" class="backtop" title="Lên đầu trang">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-up" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-up fa-w-14">
                <path fill="currentColor"
                      d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
                      class=""></path>
            </svg>
        </a>

    </footer>

    <link rel="preload" as="script"
          href="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/main.js?1676255871974" />
    <script src="https://bizweb.dktcdn.net/100/319/254/themes/894747/assets/main.js?1676255871974"
            type="text/javascript"></script>


    <script type="text/x-custom-template" data-template="ItemDropCart">
        <li class="item productid-${id_item}">
            <div class="border_list">
                <div class="image_drop">
                    <a class="product-image" href="https://template-travelgo.mysapo.net/$%7Burl%7D" title="${title}">
                        <img alt="${title}" src="https://template-travelgo.mysapo.net/$%7Bimage_url%7D" width="'+ '100' +'"
                             \>
                    </a>
                </div>
                <div class="detail-item">
                    <div class="product-details">
                        <span href="javascript:;" data-id="${id_item}" title="Xóa"
                              class="remove-item-cart i_close_svg"></span>
                        <p class="product-name"><a href="https://template-travelgo.mysapo.net/$%7Burl%7D" title="${title}">${title}</a>
                        </p></div>
                    <span class="variant-title">${variant_title}</span>
                    <div class="product-details-bottom"><span class="price">${price}</span>
                        x <span class="quanlity">${quanty}</span>
                    </div>
                </div>
        </li>
    </script>
    <script type="text/x-custom-template" data-template="HeaderCartPc">
        <div class="cart page_cart hidden-xs hidden-sm row">
            <form action="cart_2.htm" method="post" novalidate class="formcartpage col-lg-12 col-md-12 margin-bottom-0">
                <div class="bg-scroll">
                    <div class="cart-thead">
                        <div style="width: 18%" class="a-center">Ảnh sản phẩm</div>
                        <div style="width: 32%" class="a-center">Tên sản phẩm</div>
                        <div style="width: 17%" class="a-center">Đơn giá</div>
                        <div style="width: 14%" class="a-center">Số lượng</div>
                        <div style="width: 14%" class="a-center">Thầnh tiền</div>
                        <div style="width: 5%" class="a-center">Xóa</div>
                    </div>
                    <div class="cart-tbody">
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/x-custom-template" data-template="pageCartCheckout">
        <div class="col-lg-7 col-md-7">
            <a href="template-travelgo_mysapo_default.html" class="form-cart-continue">Tiếp tục mua hàng</a>
        </div>
        <div class="col-lg-5 col-md-5">
            <div class="section bg_cart shopping-cart-table-total">
                <div class="table-total">
                    <table class="table">
                        <tr>
                            <td coldspan="20" class="total-text">Tổng tiền thanh toán:</td>
                            <td class="txt-right totals_price price_end a-right">${price_total}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="section continued">
                <a href="https://template-travelgo.mysapo.net/checkout" class="btn-checkout-cart button_checkfor_buy">Tiến
                    hành thanh toán</a>
            </div>
        </div>
    </script>

    <script type="text/x-custom-template" data-template="pageCartItem">
        <div class="item-cart productid-${id_item}">
            <div style="width: 18%" class="image">
                <a class="product-image a-left" title="${title}" href="https://template-travelgo.mysapo.net/$%7Burl%7D">
                    <img width="75" height="auto" alt="${title}"
                         src="https://template-travelgo.mysapo.net/$%7Bimage_url%7D">
                </a>
            </div>
            <div style="width: 32%" class="a-center">
                <h3 class="product-name"><a class="text2line" href="https://template-travelgo.mysapo.net/$%7Burl%7D"
                                            title="${title}">${title}</a></h3>
                <span class="variant-title">${variant_title}</span>
            </div>
            <div style="width: 17%" class="a-center">
            <span class="cart-prices">
                <span class="prices">${price}</span>
            </span>
            </div>
            <div style="width: 14%" class="a-center">
                <div class="input_qty_pr">
                    <input class="variantID" type="hidden" name="variantId" value="${id_item}">
                    <button onClick="var result = document.getElementById('qtyItem${id_item}'); var qtyItem${id_item} = result.value; if( !isNaN( qtyItem${id_item} ) &amp;&amp; qtyItem${id_item} &gt; 1 ) result.value--;return false;"
                            ${buttonQty} class="reduced_pop items-count btn-minus" type="button">-
                    </button>
                    <input type="text" maxlength="3" readonly min="0"
                           class="check_number_here input-text number-sidebar input_pop input_pop qtyItem${id_item}"
                           id="qtyItem${id_item}" name="Lines" id="updates_${id_item}" size="4" value="${quanty}">
                    <button onClick="var result = document.getElementById('qtyItem${id_item}'); var qtyItem${id_item} = result.value; if( !isNaN( qtyItem${id_item} )) result.value++;return false;"
                            class="increase_pop items-count btn-plus" type="button">+
                    </button>
                </div>
            </div>
            <div style="width: 14%" class="a-center">
            <span class="cart-price">
                <span class="price">${price_quanty}</span>
            </span>
            </div>
            <div style="width: 5%" class="a-center">
                <a class="remove-itemx remove-item-cart" title="Xóa" href="javascript:;" data-id="${id_item}">
                    <span><i class="fa fa-trash-alt"></i></span>
                </a>
            </div>
        </div>
    </script>

    <script type="text/x-custom-template" data-template="ItemCartMobile">
        <div class="item-product item productid-${id_item} ">
            <div class="item-product-cart-mobile">
                <a href="https://template-travelgo.mysapo.net/$%7Burl%7D">
                    <a class="product-images1" href="template-travelgo_mysapo_default.html" title="${title}">
                        <img width="80" height="150" src="https://template-travelgo.mysapo.net/$%7Bimage_url%7D"
                             alt="${title}">
                    </a>
                </a>
            </div>
            <div class="title-product-cart-mobile">
                <h3>
                    <a href="https://template-travelgo.mysapo.net/$%7Burl%7D" title="${title}">${title}</a>
                </h3>
                <p>
                    Giá: <span>${price}</span>
                </p>
            </div>
            <div class="select-item-qty-mobile">
                <div class="txt_center">
                    <input class="variantID" type="hidden" name="variantId" value="${id_item}">
                    <button onClick="var result = document.getElementById('qtyMobile${id_item}'); var qtyMobile${id_item} = result.value; if( !isNaN( qtyMobile${id_item} ) &amp;&amp; qtyMobile${id_item} &gt; 1 ) result.value--;return false;"
                            class="reduced items-count btn-minus" type="button"><i class="fa">-</i></button>
                    <input type="text" maxlength="3" min="1" class="input-text number-sidebar qtyMobile${id_item}"
                           id="qtyMobile${id_item}" name="Lines" id="updates_${id_item}" size="4" value="${quanty}">
                    <button onClick="var result = document.getElementById('qtyMobile${id_item}'); var qtyMobile${id_item} = result.value; if( !isNaN( qtyMobile${id_item} )) result.value++;return false;"
                            class="increase items-count btn-plus" type="button"><i class="fa">+</i></button>
                </div>
                <a class="button remove-item remove-item-cart" href="javascript:;" data-id="${id_item}">Xoá</a>
            </div>
        </div>
    </script>

    <script type="text/x-custom-template" data-template="pageCartCheckoutMobile">
        <div class="header-cart-price">
            <div class="title-cart">
                <h3 class="text-xs-left">Tổng tiền</h3>
                <a class="text-xs-right  totals_price_mobile">${price_total}</a>
            </div>
            <div class="checkout">
                <button class="btn-proceed-checkout-mobile" title="Tiến hành thanh toán" type="button"
                        onclick="window.location.href='/checkout'">
                    <span>Tiến hành thanh toán</span></button>
                <button class="btn btn-white f-left" title="Tiếp tục mua hàng" type="button"
                        onclick="window.location.href='/collections/all'">
                    <span>Tiếp tục mua hàng</span>
                </button>
            </div>
        </div>
    </script>

    <script type="text/x-custom-template" data-template="TemplateItemPopupCart">
        <div class="item-popup productid-${id_item}">
            <div style="width: 13%;" class="height image_ text-left">
                <div class="item-image">
                    <a class="product-image" href="https://template-travelgo.mysapo.net/$%7Burl%7D" title="${title}">
                        <img alt="${title}" src="https://template-travelgo.mysapo.net/$%7Bimage_url%7D" width="'+ '90' +'"
                             \>
                    </a>
                </div>
            </div>
            <div style="width:40%;" class="height text-left fix_info">
                <div class="item-info">
                    <p class="item-name product-name">
                        <a class="text2line textlinefix" href="https://template-travelgo.mysapo.net/$%7Burl%7D"
                           title="${title}">${title}</a>
                    </p>
                    <span class="variant-title-popup">${variant_title}</span>
                    <a href="javascript:;" class="remove-item-cart" title="Xóa" data-id="${id_item}">
                        Bỏ sản phẩm
                    </a>
                    <p class="addpass" style="color:#fff;margin:0px;">${id_item}</p>
                </div>
            </div>
            <div style="width: 15%;" class="height text-center">
                <div class="item-price">
                    <span class="price">${price}</span>
                </div>
            </div>
            <div style="width: 17%;" class="height text-center">
            <span class="cart-price">
                <span class="price">${price_quanty}</span>
            </span>
            </div>
        </div>
    </script>
    <div class="op_login"></div>
    <div id="popupCartModal" class="modal fade" role="dialog">
    </div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</body>
</html>